/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Stylesheet start */

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  max-width: 1440px;
  height: 800px;
  background-color: var(--Light-gray);
  display: flex;
  justify-content: center;
}

.wrapper {
  background-color: var(--White);
  width: 320px;
  height: 497px;
  border-radius: 10px;
  margin: 85px 27px 85px 28px;
}

.QR-code img {
  height: 288px;
  width: 288px;
  border-radius: 10px;
  margin: 16px 16px;
}

h1 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 28px;
  color: var(--Dark-blue);
  margin: 16px 16px;
}

.text p {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 40px;
  line-height: 18px;
  margin: 16px 32px 40px 32px;
  color: var(--Grayish-blue);
}
